- content_for :page_title do
  %title Lacey Laughter UX Designer & Researcher
- content_for :keywords do
  %meta{name: 'keywords', content: ''}
- content_for :description do
  %meta{name: 'description', content: ''}


#intro.clearfix
  .row
    .col-md-8.col-md-offset-2
      .container-fluid
        #job-title UX Designer & Researcher
        #slogan Producing Experiences Users Love
        #text I love creating engaging, efficient experiences for users by focusing on the user's needs and identifying the best ways to make complex interactions as simple as possible while ensuring that business needs are met.

#work-title.title
  .container-fluid
    WORK

#projects
  .container-fluid
    - @projects.in_groups_of(2, false) do |project_row|
      .row
        - for project in project_row
          = render project

#about-title.title
  .container-fluid
    ABOUT

#about
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        %p I create experiences that meet client’s needs and are user friendly. I have Master's Degrees in Human and Computer Interactions and Psychology. I apply a diverse range of skills that I have developed from working in a variety of environments ranging from E-commerce Digital Agencies to StartUps.
      .col-md-8.col-md-offset-2
        %p When challenges are presented, I take a user-centered design approach, and look to incorporate user research to create a simple and intuitive experience for the specific users I design for. I apply best practices by gaining insight into who the user is and what their needs are.
      .col-md-8.col-md-offset-2
        %p I engage in a variety of activities to enhance the experience for the user include conducting usability testing, wireframing, identifying the information architecture through user flows and site maps, and completing heuristic evaluations. I thrive in an environment where collaboration is encouraged to ensure that the user’s experience is optimal from design to development.
      .col-md-8.col-md-offset-2
        %p My agency experience includes working for a variety of brands including Maui Jim, DVF, Columbia, Panasonic, Movado, ED, AM Castle, and Ariat.

#contact-title.title
  .container-fluid
    CONTACT

#contact
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        #contact-text-1
          Interested in learning more about my work?
        #contact-text-2
          Check out my LinkedIn or Email Me
        #social
          .row
            .col-md-6.col-md-offset-4
              = link_to '/laceylaughter', 'https://linkedin.com/in/laceylaughter', target: '_blank', id: 'linkedin-link'
            .col-md-6.col-md-offset-4
              = mail_to 'laceylaughter@gmail.com', 'laceylaughter@gmail.com', id: 'email-link'
