- content_for :page_title do
  %title Lacey Laughter UX Designer & Researcher
- content_for :keywords do
  %meta{name: 'keywords', content: ''}
- content_for :description do
  %meta{name: 'description', content: ''}


#intro.clearfix
  .row
    .col-md-8.col-md-offset-2
      .container-fluid
        #job-title UX Designer & Researcher
        #slogan Producing Experiences Users Want
        #text I love creating engaging, efficient experiences for users by focusing on the user's needs and identifying the best ways to make complex interactions as simple as possible while ensuring that business needs are met.

#work-title.title
  .container-fluid
    WORK

#projects
  .container-fluid
    - @projects.in_groups_of(2, false) do |project_row|
      .row
        - for project in project_row
          = render project

#about-title.title
  .container-fluid
    ABOUT

#about
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        %p I create user friendly experiences that meet clients' needs. My Masters' Degrees in Human and Computer Interactions and Psychology opened a door to a world where psychology and technology blend, and allow me to create a human-centric experience based on how people think and behave.
      .col-md-8.col-md-offset-2
        %p I apply a diverse range of skills that I have developed from working on e-commerce digital experiences, innovation strategy and digital experiences for state and federal government, in addition to digital product development for startups.
      .col-md-8.col-md-offset-2
        %p When challenges are presented, I apply Human-Centered Design Principles, and conduct user research to gain insights into who the user is and what their needs are to create intuitive experiences while still meeting client needs.
      .col-md-8.col-md-offset-2
        %p I engage in a variety of activities that influence solutions I create, including generative research, usability testing, wireframing, persona and journey map development, heuristic evaluations, and developing an information architecture through site maps and user flows.
      .col-md-8.col-md-offset-2
        %p I thrive in an environment where collaboration is encouraged to ensure a holistic customer experience is developed.  Complex problems that help businesses become more user-centric are my passion.
      .col-md-8.col-md-offset-2
        %p I've created experiences for a variety of companies including U.S. Department of Veteran Affairs, New Hampshire Department of Human and Health Services, Pennsylvania Health and Human Service, Maui Jim, DVF, Columbia, Panasonic, Movado, ED, AM Castle, and Ariat.

#contact-title.title
  .container-fluid
    CONTACT

#contact
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        #contact-text-1
          Interested in learning more about my work?
        #contact-text-2
          Check out my LinkedIn or Email Me
        #social
          .row
            .col-md-6.col-md-offset-4
              = link_to '/laceylaughter', 'https://linkedin.com/in/laceylaughter', target: '_blank', id: 'linkedin-link'
            .col-md-6.col-md-offset-4
              = mail_to 'laceylaughter@gmail.com', 'laceylaughter@gmail.com', id: 'email-link'
